@import URL("https://fonts.googleapis.css2? family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("123.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 90%;
    height: 50px;
    margin: 30px;
    margin-right: 20px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    font-size: 14.5px;
    justify-content: center;
    margin-top: 20px;
}

.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;
    margin-top: 1.5rem;
}

.remember-forget a {
    color: #fff;
    text-decoration: none;
    margin-top: 1.5rem;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}


 .register-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(123.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}



/* forget_password */
.forget_password3-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("beautiful-landscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fp {
    width: 420px;
    height: 450px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgb(236, 17, 28);
    border-radius: 10px;
    padding: 30px 40px;
    align-items: center;
    justify-content: space-between;
}

.forget_password3 {
    font-size: 36px;
    text-align: center;
}

.email3 {
    position: relative;
    width: 60%;
    height: 40px;
    border-radius: 30px;
    position: center;
    text-align: center;
    margin-left: 60px;
    border: none;
    outline: none;
    margin-top: 60px;
}

.bg_input input {
    background: transparent;
    border: none;
    outline: none;
    border-radius: 20px;
    border: 2px solid rgba(229, 154, 84, 0.31);
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: #fff;
}



.OTP3 {
    position: relative;
    width: 50%;
    height: 30px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 75px;
    border: none;
    outline: none;
    margin-top: 10px;
}

.new_password{
    position: relative;
    width: 60%;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
    justify-content: center;
    margin-left: 66px;
    border: none;
    outline: none;
}

.confirmPassword3{
    position: absolute;
    width: 60%;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    margin-top: 1px;
    margin-left: 40px;
    border: none;
    outline: none;
}

.email3:focus{
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

.OTP3:focus{
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

.new_password:focus{
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

.confirmPassword3:focus{
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

.reset_button{
    position: absolute;
    width: 340px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    border: none;
    outline: none;
    background-color: #b2aef9;
    color: black;
}

.FPT{
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  margin-top: 120px;
}

.FPT2{
  background: none;
  border: none;
  color: #4f46e5;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: underline;
  padding: 0;
}

/* Popup message box styling */
 .popup-message {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #333;
      color: #fff;
      padding: 15px 30px;
      border-radius: 8px;
      font-size: 18px;
      display: none; /* initially hidden */
      z-index: 1000;
      text-align: center;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      animation: fadeIn 0.5s ease;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translate(-50%, -60%); }
      to { opacity: 1; transform: translate(-50%, -50%); }
    }

    @keyframes fadeOut {
      from { opacity: 1; transform: translate(-50%, -50%); }
      to { opacity: 0; transform: translate(-50%, -40%); }
    }



/* Page Background */
.admin-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background: #1eb2c5;
  background: transparent;
  border-radius: 10px;
  padding: 30px 40px;
  background-color: #846ef4;
}



/* Auth Container */
.auth-container {
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

/*width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;*/



/* Title */
.auth-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

/* Form */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-left: 40px;
}

.form-group-pass{
  display: flex;
  flex-direction: column;
  width: 250px; 
  margin-left: 40px;
}

.form-label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  color: #444;
}

.form-input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s;
  border-radius: 20px;
}


.form-input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

/* Message */
.form-message {
  font-size: 0.85rem;
  color: red;
  min-height: 1.25rem;
}

/* Button */
.btn-submit {
  width: 100%;
  background: #4f46e5;
  color: #fff;
  padding: 0.7rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-submit:hover {
  background: #3730a3;
}

/* Footer */
.auth-footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}

.link-btn {
  background: none;
  border: none;
  color: #4f46e5;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: underline;
  padding: 0;
}

.link-btn:hover {
  color: #3730a3;
}

/* Utility */
.hidden {
  display: none;
}
.mt-4 {
  margin-top: 1rem;
}